.menu {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // берем x = (общий width макета - отступы макета) и считаем width меню = width меню/x * 100% ~ 41%
  }
  a {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 23px;
    font-weight: 300;
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    letter-spacing: 0.96px; //берем размер шрифта * единица фотошопа / 1000

    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}